<!doctype html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Mqtt Console</title>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css"> -->
	
	<link rel="stylesheet" href="./site.css">
</head>

<body>
	<div id="app">
		<nav class="navbar navbar-dark bg-dark">
			<a class="navbar-brand" href="#">
				<img src="./paper-plane.svg" width="30" height="30" class="d-inline-block align-top" alt=""> Mqtt Console
			</a>
			<div>
					<span class="navbar-text">Connected to .....</span>
					<button class="btn btn-outline-success" data-toggle="modal" data-target="#connectionModal" type="button">Connection</button>
			</div>

		</nav>
		<main class="wrapper container-fluid">
			<div class="row h-100">
				<aside class="col-4">
					<h5>Subscriptions</h5>
					<label for="inputEmail4">Topic</label>
					<div class="input-group mb-3">
						<input v-model="subscription.topic" type="text" class="form-control">
						<div class="input-group-append">
							<button class="btn btn-outline-success" type="button" v-on:click="subscribe()">Subscribe</button>
						</div>
					</div>
					<hr>
					<ul class="list-group">
						<li v-for="sub in subscriptions" class="list-group-item">
							<p class="float-left">{{sub.topic}}</p>
							<button type="button" class="btn btn-outline-danger float-right" v-on:click="unsubscribe(sub)">Unsubscribe</button>
						</li>
					</ul>
				</aside>
				<article class="col-8">
					<div class="row" style="height:70%">
						<!-- <h5>Publications</h5> -->
						<div class="col-12" style="overflow-y: scroll;" v-chat-scroll>
							<div v-for="msg in messages" class="card mb-3">
								<div class="card-header d-flex justify-content-between">
									<small class="text-muted">{{msg.datetime}}</small>
									<small class="text-muted">{{msg.topic}}</small>
									<small class="text-muted">QoS: {{msg.qos}}</small>
								</div>
								<div class="card-body">{{msg.payload}}</div>
							</div>
						</div>
					</div>
					<div class="row" style="height:30%">
						<div class="col-12">
							<form>
								<div class="form-row">
									<div class="form-group col-md-8">
										<label>Topic</label>
										<input v-model="publication.topic" type="text" class="form-control">
									</div>
									<div class="form-group col-md-2">
										<label>QoS</label>
										<select v-model.number="publication.qos" class="form-control">
											<option>0</option>
											<option>1</option>
											<option>2</option>
										</select>
									</div>
									<div class="form-group col-md-2">
										<label>Retain?</label>
										<br>
										<button type="button" class="btn btn-outline-secondary btn-block" data-toggle="button" v-on:click="toggleRetain()">
											<i v-if="publication.retain" class="far fa-check-square"></i>
											<i v-else class="far fa-square"></i>
										</button>
									</div>
								</div>
								<div class="form-group">
									<label>Message</label>
									<div class="input-group">
										<textarea v-model="publication.message" class="form-control"></textarea>
										<div class="input-group-append">
											<button v-on:click="publish()" type="submit" class="btn btn-outline-success">Publish</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</article>
			</div>

		</main>
		<div id="connectionModal" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Connection Information</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form id="connectionForm" @submit.prevent="connectionSubmit">
							<div class="form-row">
								<div class="form-group col-md-9">
									<label>Host</label>
									<input v-model="connection.hostname" type="text" class="form-control">
								</div>
								<div class="form-group col-md-3">
									<label>Port</label>
									<input v-model.number="connection.port" type="text" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label>Client ID</label>
								<input v-model="connection.clientId" type="text" class="form-control">
							</div>
							<div class="form-group">
								<label>Username</label>
								<input v-model="connection.username" type="text" class="form-control">
							</div>
							<div class="form-group">
								<label>Password</label>
								<input v-model="connection.password" type="password" class="form-control">
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" v-if="!client.connected" v-on:click="connect()" class="btn btn-success btn-block">Connect</button>
						<button type="button" v-else v-on:click="disconnect()" class="btn btn-danger btn-block">Disconnect</button>
						<!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- bootstrap -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	 crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	 crossorigin="anonymous"></script>
	<!-- mqtt -->
	<script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
	<!-- vue -->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://gitcdn.link/repo/theomessin/vue-chat-scroll/master/dist/vue-chat-scroll.js"></script>
	<!-- engine -->
	<script src="./app.js"></script>
</body>

</html>